@model Shop.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div id="container">
    @if (ViewBag.IsSuccess != null)
    {
        <div class="alert alert-success">
            <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
        </div>


    }
    <div class="container">

        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="login.html">حساب کاربری</a></li>
            <li><a href="/ForgotPassword">بازیابی کلمه عبور</a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">

                <h1 class="title">بازیابی کلمه عبور</h1>
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="subtitle">مشتری جدید</h2>
                        <p><strong>ثبت نام حساب کاربری</strong></p>
                        <p>با ایجاد حساب کاربری میتوانید سریعتر خرید کرده، از وضعیت خرید خود آگاه شده و تاریخچه ی سفارشات خود را مشاهده کنید.</p>
                        <a href="/Register" class="btn btn-primary">ادامه</a>
                    </div>
                    <div class="col-sm-6">

                        <form asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <label class="control-label" for="input-email">آدرس ایمیل</label>
                                <input asp-for="Email" type="text" aria-describedby="email-address" placeholder="آدرس ایمیل" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div>

                            <input type="submit" value="ارسال" class="btn btn-primary" />
                        </form>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <partial name="AccountNavBar" />

            <!--Right Part End -->
        </div>
    </div>
</div>
