@using Shop.Core.Services.Interfaces
@using Shop.Core.DTOs 
@inject IUserService _UserService

@{ 
    SideBarUserPanelViewModel user = _UserService.GetSideBarUserPanelData(User.Identity.Name);
}

<aside id="column-right" class="col-sm-3 hidden-xs">
    <h3 class="subtitle">حساب کاربری</h3>
    <h4 class="subtitle">@user.UserName</h4>
    <div class="list-group">
        <ul class="list-item">
            <li><a href="/UserPanel"> پروفایل</a></li>
            <li><a href="/UserPanel/EditProfile">ویرایش پروفایل</a></li>
            <li><a href="/UserPanel/ChangePassword">تغییر رمز عبور</a></li>
            <li><a href="/UserPanel/Wallet">کیف پول</a></li>
            <li><a href="/UserPanel/MyOrders">نمایش فاکتورها</a></li>
            
        </ul>
    </div>
</aside> 