<footer id="footer">
    <div class="fpart-first">
        <div class="container">
            <div class="row">
                <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <h5>درباره فروشگاه محمد اخلاقی</h5>
                    <p>
بنده محمد اخلاقی برنامه نویس تحت بک اند و اپلیکیشن در این فروشگاه قصد فروش بهترین قالب و پلاگین اختصاصی و غیر اختصاصی به صورت کاملا ارزان و بهینه خدمت شما عرضه می کنم                    </p>
                    <img alt="" src="/image/logo-small.png">
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>اطلاعات</h5>
                    <ul>
                        <li><a href="about-us.html">درباره ما</a></li>
                        <li><a href="about-us.html">خدمات</a></li>
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>خدمات مشتریان</h5>
                    <ul>
                        <li><a href="contact-us.html">تماس با ما</a></li>
                      
                    </ul>
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>نماد اعتماد </h5>
                    <img  src="/image/enmad.jpg" alt="enmad" title="enmad">
                </div>
                <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                    <h5>حساب من</h5>
                    <ul>
                        <li><a href="#">حساب کاربری</a></li>
                        <li><a href="#">تاریخچه سفارشات</a></li>
                        <li><a href="#">لیست علاقه مندی</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fpart-second">
        <div class="container">
            <div id="powered" class="clearfix">
                <div class="powered_text pull-left flip">
                    <p>طراحی شده توسط <a href="http://www.mohammadakhlaghi.ir" target="_blank"> محمد اخلاقی</a> 2021</p>
                </div>
                <div class="social pull-right flip"> <a href="https://www.instagram.com/mohammadakhlaghi.ir/" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/instagram.png" alt="instagram" title="instagram"></a> <a href="https://t.me/mohammadakhlaghi_ir" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/telegram.jpg" alt="Telegram" title="Telegram"> </a> <a href="https://github.com/wolfsmad" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/github.jpg" alt="Github" title="Github"> </a> <a href="https://api.whatsapp.com/send?phone=989378982060" target="_blank"> <img data-toggle="tooltip" src="/image/socialicons/whatsapp.jpg" alt="WhatsApp" title="WhatsApp"> </a> 
                  </div>
            </div>
         
        </div>
    </div>
    <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
</footer>