<header class="header-row">
    <div class="container">
        <div class="table-container">
            <!-- Logo Start -->
            <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                <div id="logo"><a href="/"><img class="img-responsive" src="/image/logo.png" title="MarketShop" alt="MarketShop" /></a></div>
            </div>
            <!-- Logo End -->
            <!-- Mini Cart Start-->
            <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div id="cart">

                    <a href="/UserPanel/MyOrders" type="button" 
                         
                            class="heading dropdown-toggle"
                            >
                        <span class="cart-icon pull-left flip"></span>

                        <span id="cart-total">



                            نمایش فاکتورها
                        </span>


                    </a>


                </div>
            </div>

            <!-- Mini Cart End-->
            <!-- جستجو Start-->
            <form action="/Product" method="get">
                <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                    <div id="search" class="input-group">
                        <input id="filter_name" type="text" name="filter" value="" placeholder="جستجو" class="form-control input-lg" />
                        <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>

            <!-- جستجو End-->
        </div>
    </div>


</header>