<nav id="top" class="htop">
    <div class="container">
        <div class="row">
            <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
            <div class="pull-left flip left-top">
                <div class="links">
                    <ul>

                        <li class="mobile"><a href="tel:+98378982060"><i class="fa fa-phone"></i>09378982060 </a></li>
                        <li>
                            <a href="https://mohammadakhlaghi.ir">خدمات محمد اخلاقی</a>
                        </li>
                    </ul>
                </div>


            </div>
            <div id="top-links" class="nav pull-right flip">
                <ul>
                    <li><a href="/Login">ورود</a></li>
                    <li><a href="/Register">ثبت نام</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>