@page "{id}"
@model Shop.Pages.Admin.Discounts.DeleteDiscountModel
@{ 
    ViewData["Title"] = "حذف کد تخفیف";
}
<div class="container alert alert-danger">
    <form method="post">
        <input type="hidden" asp-for="Discount.DiscountId" />
        <input type="hidden" asp-for="Discount.DiscountCode" />
        <h2>آیا از حذف کد تخفیف "@Model.Discount.DiscountCode" مطمئن هستید </h2>
        <p>
            <input type="submit" value="حذف کن" class="btn btn-outline btn-danger" />
            <a asp-page="Index" class="btn btn-outline btn-info">انصراف</a>
        </p>
    </form>
</div>