@model Tuple<List<Shop.Core.DTOs.ShowProductListItemViewModel>, int>
@{
    ViewData["Title"] = "خانه";
}

<div id="container">

    <div class="container">
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-xs-12">
                <!-- Slideshow Start-->
                <div class="slideshow single-slider owl-carousel">
                    <div class="item"> <a href="https://mohammadakhlaghi.ir"><img class="img-responsive" src="/image/slider/banner1.jpg" alt="محمد اخلاقی برنامه نویس" /></a> </div>

                </div>
                <!-- Slideshow End-->
                <!-- Banner Start-->
                <!-- Banner End-->
                <!-- محصولات Tab Start -->
                <div id="product-tab" class="product-tab">
                    <ul id="tabs" class="tabs">
                        <li><a href="#tab-latest">جدیدترین</a></li>
                    </ul>
                    <div id="tab-featured" class="tab_content">
                        <div class="owl-carousel product_carousel_tab">
                            @foreach (var item in Model.Item1)
                            {
                                <partial name="_BoxProduct" model="@item" />
                            }
                        </div>
                    </div>




                </div>    <!-- محصولات Tab Start -->
                <!-- Banner Start -->
                <div class="marketshop-banner">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="/image/banner/sample-banner-4-600x250.jpg" alt="2 Block Banner" title="2 Block Banner" /></a></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="/image/banner/sample-banner-5-600x250.jpg" alt="2 Block Banner 1" title="2 Block Banner 1" /></a></div>
                    </div>
                </div>
                <!-- Banner End -->



            </div>
            <!--Middle Part End-->
        </div>
    </div>
</div>
