@using Shop.Core.Convertors
@model Shop.Core.DTOs.InformationUserViewModel
@{
    ViewData["Title"] = "پنل کاربری " + User.Identity.Name;
}


<div id="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li><a href="/"><i class="fa fa-home"></i></a></li>
            <li><a href="/UserPanel">حساب کاربری</a></li>

        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">

                <h3 class="subtitle">اطلاعات حساب کاربری</h3>
                <div class="list-group">
                    <ul class="list-item">
                        <li>نام کاربری : @Model.UserName</li>
                        <li>ایمیل : @Model.Email</li>
                        <li>تاریخ عضویت : @Model.RegisterDate.ToShamsi()</li>
                        <li>موجودی کیف پول : @Model.Wallet.ToString("#,0")  تومان </li>

                    </ul>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <partial name="_SideBar" />



            <!--Right Part End -->
        </div>
    </div>
</div>
