@page "{id}"
@model Shop.Pages.Admin.Products.DeleteProductFileModel
@{
    ViewData["Title"] = "حذف فایل محصول";
}

<div class="container alert alert-danger">
    <form method="post">
        <input type="hidden" asp-for="ProductFile.FileId" />
        <input type="hidden" asp-for="ProductFile.FileTitle" />
        <h2>آیا از حذف محصول "@Model.ProductFile.FileTitle" مطمئن هستید </h2>
        <p>
            <input type="submit" value="حذف کن" class="btn btn-outline btn-danger" />
            <a asp-page="Index" class="btn btn-outline btn-info">انصراف</a>
        </p>
    </form>
</div>

